.atom-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    z-index: 0;
    pointer-events: none;
    opacity: 0.6;
    perspective: 1000px;
}

.atom {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    animation: float 6s ease-in-out infinite;
}

.nucleus {
    width: 20px;
    height: 20px;
    background: var(--accent-color);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--accent-color);
    position: absolute;
    transform: translateZ(0);
}

.orbit {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0, 240, 255, 0.5);
    border-radius: 50%;
    transform-style: preserve-3d;
}

/* Órbita 1: Girada 0 grados (Vertical-ish) */
.orbit-1 {
    animation: rotate1 2s linear infinite;
}

/* Órbita 2: Girada 60 grados */
.orbit-2 {
    animation: rotate2 2s linear infinite;
}

/* Órbita 3: Girada -60 grados */
.orbit-3 {
    animation: rotate3 2s linear infinite;
}

.electron {
    position: absolute;
    top: 0;
    left: 50%;
    width: 10px;
    height: 10px;
    background: var(--secondary-color);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px var(--secondary-color);
}


@keyframes rotate1 {
    0% {
        transform: rotateZ(0deg) rotateX(70deg) rotateZ(0deg);
    }

    100% {
        transform: rotateZ(0deg) rotateX(70deg) rotateZ(360deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotateZ(60deg) rotateX(70deg) rotateZ(0deg);
    }

    100% {
        transform: rotateZ(60deg) rotateX(70deg) rotateZ(360deg);
    }
}

@keyframes rotate3 {
    0% {
        transform: rotateZ(-60deg) rotateX(70deg) rotateZ(0deg);
    }

    100% {
        transform: rotateZ(-60deg) rotateX(70deg) rotateZ(360deg);
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

@media (max-width: 768px) {
    .atom-container {
        width: 200px;
        height: 200px;
        opacity: 0.4;
        top: 50%;
        left: 50%;
    }
}